@media screen and (prefers-color-scheme: dark) {
	body {
		background-color: black;
		color: white;
	}
	
	.sidebar {
		background: #383838;
	}
	
	.sidebar a {
		color: lightblue;
	}
}

@media screen and (prefers-color-scheme: light) {
	body {
		background-color: white;
		color: black;
	}
}

.container {
	width: 100%;
	display: grid;
	grid-template-areas: "sidebar main";
	grid-template-columns: 17% auto;
	overflow-wrap: break-word;
}

.sidebar {
	grid-area: sidebar;
	height: 100%;
	width: 17%;
	position: fixed;
	overflow-y: scroll;
	top: 0;
	left: 0;
}

.sidebar a {
	display: block;
	padding: 4px 7px;
	text-decoration:none;
}

.sidebar h1,
.sidebar h2,
.sidebar h3{
	text-align: center;
}

.sidebar a:hover {
	background: #606060;
}

.main {
	grid-area: main;
}

.note {
	font-weight: bold;
}

.warning {
	color: #eeee00;
	font-weight: bold;
}

.error {
	color: #ee0000;
	font-weight: bold;
}

.rust-color {
	color: #e33b26;
}

.c-color {
	color: #4343ff;
}

.c-lang {
	color: #ffffff;
	background: #111111;
}

.c-lang a {
	color: lightblue;
	text-decoration:none;
}



.symbol {
	color: #66cf8d;
}

.number {
	color: #f67400;
}

.type,
a.type {
	color: #2780b0;
}

.string {
	color: #f44f4f;
}

.char {
	color: #3daee9;
}

.keyword {
	font-weight: bold;
}

.preprocessor,
a.preprocessor {
	color: #27ae60;
}

.comment {
	color: #a6a9aa;
}

.controlFlow {
	color: #fdbc4b;
	font-weight: bold;
}